In [1]:
#Q1.
s="ineuron   "
for i in range(1,5):
    print(s*i, end=" ")
    print()

ineuron
ineuron   ineuron
ineuron   ineuron   ineuron
ineuron   ineuron   ineuron   ineuron

In [2]:
#Q2
#Q2
rows, cols = (5, 5)
lst=[]
for i in range(rows):
    col = []
    for j in range(cols):
        if (i+j)%2==0 and (i+j)!=0 and (i+j)!=8:
            col.append("ineuron")
        
        else:
            col.append("       ")
    lst.append(col)
lst[0][4]="       "
lst[4][0]="       "
for i in range(5):
    for j in range(5):
        print(lst[i][j],end=" ")
    print()

                ineuron
        ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron
                ineuron

In [3]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]), {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [11]:
for i in set([23,4,5,45,4,4,5,45,45,4,5]):
    print(i)

45
4
5
23

In [4]:
#Q3 Try to extract all the list entity
lists=[]
for i in l:
    if type(i)==list:
        lists.append(i)
lists

[[1, 2, 3, 4], ['ineuron', 'data science']]

In [6]:
#Q4 Try to extract all the dict entities
ds=[]
for i in l:
    if type(i)==dict:
        ds.append(i)
ds

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [7]:
#Q5 Try to extract all the tuples
tuples=[]
for i in l:
    if type(i)==tuple:
        tuples.append(i)
tuples

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

In [8]:
#Q6 Try to extract all the numerical data it may be part of dict key and values
nums=[]
for key,value in l[4].items():
    if type(key)== int or type(value)==int:
        print(key,value)

3 6
7 8

In [13]:
#Q7 try to give the summation of all the numeric data
sum=0
for item in l:
    if type(item)==list or type(item)==tuple or type(item)==set:
        for i in item:
            if type(i)==int:
                sum+=i
    if type(item)==dict:
        for key,value in item.items():
            if type(key)==int or type(value)==int:
                sum+=key
                sum+=value
                
sum

156

In [15]:
#Q8 Try to filter out all the odd values out of all the numeric data which is part of a list
nums=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                nums.append(j)
for num in nums:
    if num%2!=0:
        print(num)

1
3

In [20]:
#Q9Try to extract ineuron out of this data
for item in l:
    if type(item)==list or type(item)==tuple or type(item)==set:
        for i in item:
            if i=="ineuron":
                print(i)
    if type(item)==dict:
        for value in item.values():
            if value=="ineuron":
                print(value)

ineuron
ineuron

In [30]:
#q10 Try to get the number of occurences of all the data
all=[]
for item in l:
    if type(item)==list or type(item)==tuple:
        for i in item:
            all.append(i)
    if type(item)==set:
        s=list(item)
        for i in s:
            all.append(i)
    if type(item)==dict:
        for key,value in item.items():
            all.append(key)
            all.append(value)
all
for i in set(all):
    print(i, "  :  ",all.count(i))

1   :   1
2   :   2
3   :   4
4   :   4
5   :   3
6   :   3
7   :   2
8   :   1
kumar   :   1
k1   :   1
45   :   1
k2   :   1
data science   :   1
k3   :   1
23   :   1
sudh   :   1
ineuron   :   2

In [33]:
#Q11Try to find out the number of keys in the dict element
key_count=0
for key in l[4]:
    key_count+=1
print("NUmber of keys in the dict : ",key_count)

NUmber of keys in the dict :  5

In [35]:
#Q12 Filter out all the string data
#print(all)
for item in all:
    if type(item)==str:
        print(item)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [36]:
#Q13 Try to filter out all the alphanum in data

for keys in l[4]:
    if type(keys)==str:
        print(keys)

k1
k2
k3

In [37]:
#Q14 Ttry to find out multiplication of all numeric values in the individual collection inside the data set
mult=1
for item in l:
    if type(item)==list or type(item)==tuple or type(item)==set:
        for i in item:
            if type(i)==int:
                mult*=i
    if type(item)==dict:
        for key,value in item.items():
            if type(key)==int or type(value)==int:
                mult*=key
                mult*=value
                
mult

908605071360000

In [38]:
#Q15 Try to unwrap all the collection inside collection and create a flat list
all=[]
for item in l:
    if type(item)==list or type(item)==tuple:
        for i in item:
            all.append(i)
    if type(item)==set:
        s=list(item)
        for i in s:
            all.append(i)
    if type(item)==dict:
        for key,value in item.items():
            all.append(key)
            all.append(value)
all

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']