In [2]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
#the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
#[1980, 1981, 1982, 1983, 1984, 1985].

year_list=[]
yob=1982
while yob<=1987:
    year_list.append(yob)
    yob+=1
print(year_list)

[1982, 1983, 1984, 1985, 1986, 1987]

In [3]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
year_list[3]

1985

In [4]:
#3.In the years list, which year were you the oldest?
year_list[-1]

1987

In [5]:
#4. Make a list called things with these three strings as elements: 'mozzarella','cinderella','salmonella'.
things = [ele+'ella' for ele in ['mozzar','cinder','salmon']]
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [7]:
#5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
import string

things[1]=things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [12]:
#6. Make a surprise list with the elements Groucho,Chico and Harpo
surprise_list = ['Groucho','Chico','Harpo']
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

In [15]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
surprise_list[-1].lower()[::-1].capitalize()

'Oprah'

In [16]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
#chien, cat is chat, and walrus is morse.

e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [17]:
#9. Write the French word for walrus in your three-word dictionary e2f.
e2f['walrus']

'morse'

In [18]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
f2e={key:value for value,key in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [19]:
#11. Print the English version of the French word chien using f2e.
f2e['chien']

'dog'

In [21]:
#12. Make and print a set of English words from the keys in e2f.
list(e2f.keys())

['dog', 'cat', 'walrus']

In [22]:
#13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
#Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'.
# Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
# Make all the other keys refer to empty dictionaries.

life={'animals':{'cats':['Henri','Grumpy','Lucy'],
                 'octopi':{},
                 'emus':{}},
      'plants':{},
      'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [23]:
#14. Print the top-level keys of life.
print(list(life.keys()))

['animals', 'plants', 'other']

In [25]:
#15. Print the keys for life['animals'].
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

In [26]:
#Print the values for life['animals']['cats']
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']