In [2]:
#Question1
#Create a function that takes a list of strings and integers, and filters out the list so that it
#returns a list of integers only.

def filter_list(lst):
    res=[]
    for i in lst:
        if type(i)==int:
            res.append(i)
    return res

print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

In [5]:
#Question2
#Given a list of numbers, create a function which returns the list but with each element's
#index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
#number at index 1, etc...

def add_index(lst):
    for i in range(len(lst)):
        lst[i]=lst[i]+i
    return lst


print(add_index([0,0,0,0,0]))
print(add_index([1,2,3,4,5]))
print(add_index([5,4,3,2,1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

In [6]:
#Question3
#Create a function that takes the height and radius of a cone as arguments and returns the
#volume of the cone rounded to the nearest hundredth.

import math

def cube_volume(height, radius):
    output = ((math.pi)*pow(radius,2))*(height/3)
    print(f'Output ➞ {output:.2f}')

cube_volume(3,2) 
cube_volume(15,6)    
cube_volume(18,0)

Output ➞ 12.57
Output ➞ 565.49
Output ➞ 0.00

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.

The first 5 numbers of the sequence, or dots, are:

1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [7]:
def triangle(in_num):
    print(f'Output ➞ {int((in_num)*((in_num+1)/2))}')

triangle(1)
triangle(6)
triangle(215)

Output ➞ 1
Output ➞ 21
Output ➞ 23220

In [9]:
#Question5
#Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

def missing_num(lst):
    for i in range(1,11):
        if i not in lst:
            return i

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))
print(missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]))
print(missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]))

5
10
7