In [3]:
#Question 1
#Create a function that takes a number as an argument and returns True or False depending
#on whether the number is symmetrical or not. A number is symmetrical when it is the same as
#its reverse.

def is_symmetrical(num):
    n=num
    rev=0
    while n>0:
        dig=n%10
        rev=rev*10+dig
        n=n//10
    if rev==num:
        print(True)
    else:
        print(False)
is_symmetrical(7227) 
is_symmetrical(12567)
is_symmetrical(44444444) 
is_symmetrical(9939) 
is_symmetrical(1112111)

True
False
True
False
True

In [5]:
#Question 2
#Given a string of numbers separated by a comma and space, return the product of the numbers.

def multiply_nums(s):
    prod=1
    s_list= s.split(', ')
    for i in s_list:
        prod*=int(i)
    print(f"{s} ==> {prod}")

multiply_nums('2, 3') 
multiply_nums('1, 2, 3, 4') 
multiply_nums('54, 75, 453, 0')
multiply_nums('10, -2')

2, 3 ==> 6
1, 2, 3, 4 ==> 24
54, 75, 453, 0 ==> 0
10, -2 ==> -20

In [10]:
#Question 3
#Create a function that squares every digit of a number.

def square_digits(num):
    i_lst = [str(int(digit)**2) for digit in str(num)]
    res = ''.join(i_lst)
    print(f'{num} ➞ {int(res)}')

square_digits(9119)
square_digits(2483)
square_digits(3212)

9119 ➞ 811181
2483 ➞ 416649
3212 ➞ 9414

In [14]:
#Question 4
#Create a function that sorts a list and removes all duplicate items from it.

def setify(in_list):
    out_list = sorted(set(in_list))
    print(f'{in_list} ➞ {out_list}')
    
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

In [15]:
#Question 5
#Create a function that returns the mean of all digits.

def mean(num):
    i_list = [int(d) for d in str(num)]
    avg = sum(i_list)/len(str(num))
    print(f'Mean of {num}  ➞ {avg:.0f}')
    
mean(42)
mean(12345)
mean(666)

Mean of 42  ➞ 3
Mean of 12345  ➞ 3
Mean of 666  ➞ 6