In [1]:
#Question1
#Create a function that takes an integer and returns a list from 1 to the given number, where:
#   1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
#   2. If the number cannot be divided evenly by 4, simply return the number.

def amplify(n):
    result=[x if x % 4 != 0 else x*10 for x in range(1,n+1)]
    print(result)

amplify(4)
amplify(3)
amplify(25)

[1, 2, 3, 40]
[1, 2, 3]
[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

In [3]:
#Question2
#Create a function that takes a list of numbers and return the number that's unique.

def unique(lst):
    uniq=0
    for item in lst:
        if lst.count(item)==1:
            uniq=item
    print(f"{lst} ==> {uniq}")

unique([3, 3, 3, 7, 3, 3])# ➞ 7
unique([0, 0, 0.77, 0, 0])# ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1])# ➞ 0

[3, 3, 3, 7, 3, 3] ==> 7
[0, 0, 0.77, 0, 0] ==> 0.77
[0, 1, 1, 1, 1, 1, 1, 1] ==> 0

3.Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters :

    getArea() (PIr^2) and getPerimeter() (2PI*r)

 which give both respective areas and perimeter (circumference). For help with this class, I have provided you with a Rectangle constructor which you can use as a base example ?

    Examples:
    circy = Circle(11)
    circy.getArea()
    # Should return 380.132711084365
    circy = Circle(4.44)
    circy.getPerimeter()
    # Should return 27.897342763877365

In [6]:
import numpy as np
class Circle:
    def __init__(self,radius):
        self.radius = radius

    def get_Area(self):
        return round(np.pi* (self.radius**2))

    def getPerimeter(self):
        return round(2 * np.pi * self.radius)

circy = Circle(11)
print(circy.get_Area())
circy=Circle(4.44)
print(circy.getPerimeter())

380
28

In [7]:
#Question4
#Create a function that takes a list of strings and return a list, sorted from shortest to longest.

def sort_by_length(lst):
    lst2 = sorted(lst, key=len)
    print(f"{lst} ==>  {lst2}") 

sort_by_length(['Google', 'Apple', 'Microsoft'])
sort_by_length(['Leonardo', 'Michelangelo', 'Raphael', 'Donatello'])
sort_by_length(['Turing', 'Einstein', 'Jung'])

['Google', 'Apple', 'Microsoft'] ==>  ['Apple', 'Google', 'Microsoft']
['Leonardo', 'Michelangelo', 'Raphael', 'Donatello'] ==>  ['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Turing', 'Einstein', 'Jung'] ==>  ['Jung', 'Turing', 'Einstein']

In [8]:
#Question5
#Create a function that validates whether three given integers form a Pythagorean triplet. The
#sum of the squares of the two smallest integers must equal the square of the largest number to
#be validated.

def is_triplet(a,b,c):
    if ((a**2+b**2) == (c**2)):
        print(f'{a,b,c} ➞ {True}')
    else:
        print(f'{a,b,c} ➞ {False}')
        
is_triplet(3, 4, 5)
is_triplet(3, 4, 5)
is_triplet(1, 2, 3)

(3, 4, 5) ➞ True
(3, 4, 5) ➞ True
(1, 2, 3) ➞ False